@page
@model IndexModel
@{
    //Layout = "_LayoutRmshq";
}

Index

<label class="btn"></label>

@section Scripts {
    <script>
        //window.onload = function () {
        //    location.href = "https://yurubra.shauwu.com.tw:89/Rmshqs/Reports/SaleOrderPivot";
        //    //location.href = "https://localhost:7120/Rmshqs/Reports/SaleOrderPivot";
        //}
    </script>
}