/*
Created:		2025/03/29
Remark:		簡單版本的刪除
*/
CREATE PROCEDURE [psi].[uspDELETE_Product_ByProductNo]
	@ProductNo INT
AS
	
	DECLARE @ReturnValue INT = 0
	-- =======================================			
	BEGIN TRY
		BEGIN TRANSACTION
				DELETE [psi].[ProductPrice] WHERE ProductNo = @ProductNo
				DELETE [psi].[ProductCost] WHERE ProductNo = @ProductNo
				DELETE [psi].[ProductStock] WHERE ProductNo = @ProductNo
				DELETE [psi].[ProductSupplier] WHERE ProductNo = @ProductNo
				DELETE [psi].[Product] WHERE ProductNo = @ProductNo

		COMMIT TRANSACTION
		SET @ReturnValue  = @@ROWCOUNT

	END TRY
	BEGIN CATCH
		SELECT ERROR_NUMBER() AS ErrorNumber,
			   ERROR_MESSAGE() AS ErrorMessage,
			   ERROR_LINE() AS ErrorLine,
			   ERROR_PROCEDURE() AS ErrorProcedure,
			   ERROR_SEVERITY() AS ErrorSeverity,
			   ERROR_STATE() AS ErrorState

	--系統拋回訊息用
		DECLARE @ErrorMessage As VARCHAR(1000) = CHAR(10)+'錯誤代碼：' +CAST(ERROR_NUMBER() AS VARCHAR)
												+CHAR(10)+'錯誤訊息：'+	ERROR_MESSAGE()
												+CHAR(10)+'錯誤行號：'+	CAST(ERROR_LINE() AS VARCHAR)
												+CHAR(10)+'錯誤程序名稱：'+	ISNULL(ERROR_PROCEDURE(),'')
		DECLARE @ErrorSeverity As Numeric = ERROR_SEVERITY()
		DECLARE @ErrorState As Numeric = ERROR_STATE()
		RAISERROR( @ErrorMessage, @ErrorSeverity, @ErrorState);--回傳錯誤資訊
		
		WHILE @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		-- Transaction uncommittable
		--IF (XACT_STATE()) = -1	ROLLBACK TRANSACTION

	END CATCH

RETURN @ReturnValue
