/*
Created:	2024/12/15
Parameter:	
	@SIGNo = 0	則表示為單一客戶使用
Remark  @PermissionGroupNo_Everyone = @SIGNo
		[MenuitemPermissionGroup].[PermissionGroupNo] 已經有區分 [SIGNo]
*/
CREATE PROCEDURE [psi].[uspINSERT_MenuitemSIG_MenuitemPermissionGroup_SIGDefault]
	@SIGNo tinyint 
AS
	
	DECLARE @PermissionGroupNo_Everyone SMALLINT
	DECLARE @CreatedPerson SMALLINT = 90
	DECLARE @IsSystemPredefined BIT = 1
	DECLARE @AffectedRows INT = 0
	

	SET @PermissionGroupNo_Everyone = @SIGNo


	-- =======================================
			-- [Menuitem]相關
			-- 複製一份SIG的功能表清單
			INSERT [psi].[MenuitemSIG]
				(NodeNo, SIGNo, CreatedPerson)
			SELECT M1.NodeNo, @SIGNo, @CreatedPerson
			FROM [psi].[Menuitem] AS M1
				LEFT JOIN [psi].[MenuitemSIG] AS M2
					ON M1.NodeNo = M2.NodeNo AND M2.SIGNo = @SIGNo
			WHERE M1.IsIsolated = 0
				AND M2.NodeNo IS NULL
			SET @AffectedRows = @AffectedRows + @@ROWCOUNT





			
			INSERT INTO [psi].[MenuitemPermissionGroup]
				   ([NodeNo]
				   ,[PermissionGroupNo]
				   ,[CreatedPerson]
				   )
			 SELECT M2.NodeNo
				,@PermissionGroupNo_Everyone
				, @CreatedPerson
			 FROM [psi].[MenuitemSIG] AS M2
				LEFT JOIN [psi].[MenuitemPermissionGroup] AS M3
					ON M2.NodeNo = M3.NodeNo 
						AND M3.PermissionGroupNo = @PermissionGroupNo_Everyone						
			 WHERE M2.SIGNo = @SIGNo
				AND M3.NodeNo IS NULL



	
	
RETURN @AffectedRows
