/*
Created:		2025/03/06
*/
CREATE 
	--OR ALTER 
		PROCEDURE [psi].[uspINSERT_StockTransferOrder_ByLogNo]
	@LogNo INT
AS
	

	DECLARE @ReturnValue INT = 0
	DECLARE @CreatedPerson SMALLINT
	DECLARE @FromStockNo SMALLINT
	DECLARE @ToStockNo SMALLINT
	DECLARE @OrderDateNo SMALLINT 
	DECLARE @DaySerialNo SMALLINT 
	DECLARE @OrderNo INT
	DECLARE @separator CHAR(1) = SPACE(1);
	-- =======================================			
	SELECT 
		@OrderDateNo = [psi].[udfGetOrderDateNo](OrderDate)
		, @FromStockNo = FromStockNo
		, @ToStockNo = ToStockNo
		, @CreatedPerson = CreatedPerson
	FROM [SBRPDBLOG].[psi].[StockTransferOrderLog] 
	WHERE  LogNo = @LogNo

	SELECT 
		@DaySerialNo = MAX(DaySerialNo)
	FROM [psi].[StockTransferOrder] WITH (NOLOCK)
	WHERE OrderDateNo = @OrderDateNo
	
	SET @DaySerialNo = ISNULL(@DaySerialNo, 0) + 1
	SET @OrderNo = (@OrderDateNo * 65536) + @DaySerialNo;

	-- ------------------------------------------------------------------
	-- Detail Log : Group By Product
	IF OBJECT_ID('tempdb..#DP') IS NOT NULL
		DROP TABLE #DP

	;WITH CTS AS (
		SELECT
			 ProductNo
			, Remark
		FROM [SBRPDBLOG].[psi].[StockTransferOrderDetailLog]
		WHERE LogNo = @LogNo
	)
	SELECT 
		@LogNo AS LogNo
		, ProductNo
		,MIN(ItemNo) AS ItemNo
		,SUM(Quantity) AS Quantity
		,STUFF((SELECT @separator + Remark 
          FROM CTS AS c
          WHERE D.ProductNo = c.ProductNo 
          FOR XML PATH('')), 1, LEN(@separator), '') AS Remark
	INTO #DP
	FROM [SBRPDBLOG].[psi].[StockTransferOrderDetailLog] AS D
	WHERE LogNo = @LogNo
	GROUP BY ProductNo


	-- Detail Log : Subtotal Head
	IF OBJECT_ID('tempdb..#DH') IS NOT NULL
		DROP TABLE #DH

	SELECT 
		@LogNo AS LogNo
		, COUNT(*) AS UniqueProductCount
		,SUM(Quantity) AS TotalQuantity
	INTO #DH
	FROM [SBRPDBLOG].[psi].[StockTransferOrderDetailLog]
	WHERE LogNo = @LogNo


	



	BEGIN TRY
		BEGIN TRANSACTION
			-- =======================================					
			INSERT INTO [psi].[StockTransferOrder]
			   (
			   [OrderDateNo]
           ,[DaySerialNo]
           ,[OrderNo]
           ,[OrderId]
           ,[SIGNo]
           ,[FromStockNo]
           ,[ToStockNo]
           ,[UniqueProductCount]
           ,[TotalQuantity]
           ,[Remark]
           ,[CreatedPerson]
           ,[LogNo]
			   )
			SELECT 
				 @OrderDateNo
			   ,@DaySerialNo
			   ,@OrderNo
			   ,[OrderId]
			   ,[SIGNo]
			   ,[FromStockNo]
			   ,[ToStockNo]
				,DH.UniqueProductCount
				   ,DH.TotalQuantity
			   ,[Remark]
			   ,[CreatedPerson]
			   ,@LogNo			
			FROM [SBRPDBLOG].[psi].[StockTransferOrderLog] AS H
				INNER JOIN #DH AS DH
					ON H.LogNo = DH.LogNo
			WHERE H.LogNo = @LogNo


		
			INSERT INTO [psi].[StockTransferOrderDetail]
			   (
			   [OrderNo]
			   ,[ItemNo]
			   ,[ProductNo]
			   ,[Quantity]
			   ,[Remark]
			   )
			SELECT 
				@OrderNo
			   ,ROW_NUMBER() OVER (ORDER BY ItemNo) 
			   ,[ProductNo]
			   ,[Quantity]
			   ,[Remark]
			FROM #DP
			WHERE LogNo = @LogNo


			-- 轉出
			UPDATE [psi].[ProductStock]
			SET 
				StockQty = PS.StockQty - D.Quantity			
				,UpdatedPerson = @CreatedPerson
				,UpdatedDate = GETDATE()
				,LogNo = @LogNo
			FROM [psi].[ProductStock] AS PS
				INNER JOIN #DP AS D
					ON PS.ProductNo = D.ProductNo 
			WHERE PS.StockNo = @FromStockNo

			-- 轉入
			UPDATE [psi].[ProductStock]
			SET 
				StockQty = PS.StockQty + D.Quantity	
				,UpdatedPerson = @CreatedPerson
				,UpdatedDate = GETDATE()
				,LogNo = @LogNo
			FROM [psi].[ProductStock] AS PS
				INNER JOIN #DP AS D
					ON PS.ProductNo = D.ProductNo 
			WHERE PS.StockNo = @ToStockNo
			-- =======================================			
		COMMIT TRANSACTION


	END TRY
	BEGIN CATCH
		SELECT ERROR_NUMBER() AS ErrorNumber,
			   ERROR_MESSAGE() AS ErrorMessage,
			   ERROR_LINE() AS ErrorLine,
			   ERROR_PROCEDURE() AS ErrorProcedure,
			   ERROR_SEVERITY() AS ErrorSeverity,
			   ERROR_STATE() AS ErrorState

	--系統拋回訊息用
		DECLARE @ErrorMessage As VARCHAR(1000) = CHAR(10)+'錯誤代碼：' +CAST(ERROR_NUMBER() AS VARCHAR)
												+CHAR(10)+'錯誤訊息：'+	ERROR_MESSAGE()
												+CHAR(10)+'錯誤行號：'+	CAST(ERROR_LINE() AS VARCHAR)
												+CHAR(10)+'錯誤程序名稱：'+	ISNULL(ERROR_PROCEDURE(),'')
		DECLARE @ErrorSeverity As Numeric = ERROR_SEVERITY()
		DECLARE @ErrorState As Numeric = ERROR_STATE()
		RAISERROR( @ErrorMessage, @ErrorSeverity, @ErrorState);--回傳錯誤資訊
		
		if @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		-- Transaction uncommittable
		--IF (XACT_STATE()) = -1	ROLLBACK TRANSACTION

	END CATCH
	




	
RETURN @OrderNo
