/*
Created:		2025/03/29
Remark:		簡單版本的判斷是否可刪除
*/
CREATE PROCEDURE [psi].[uspIsValid_Product_Deleting]
	@ProductNo INT
AS
	
	DECLARE @ReturnValue INT = 0
	-- =======================================			
	IF EXISTS (
		SELECT TOP 1 
			ProductNo
		FROM [psi].[ProductStock] 
		WHERE ProductNo = @ProductNo 
			AND (InTransitQty <> 0 OR PreOrderQty <> 0 OR StockQty <>  0)
		)
		RETURN 0


	IF EXISTS (
		SELECT TOP 1 
			H.OrderNo
		FROM [psi].[InboundStockOrder] AS H
			INNER JOIN [psi].[InboundStockOrderDetail] AS D
				ON H.OrderNo = D.OrderNo
		WHERE H.IsDeleted = 0 AND D.ProductNo = @ProductNo
		)
		RETURN 0


	IF EXISTS (
		SELECT TOP 1 
			H.OrderNo
		FROM [psi].[StockTransferOrder] AS H
			INNER JOIN [psi].[StockTransferOrderDetail] AS D
				ON H.OrderNo = D.OrderNo
		WHERE H.IsDeleted = 0 AND D.ProductNo = @ProductNo
		)
		RETURN 0

	RETURN 1
	
RETURN @ReturnValue
