/*
Created:	2024/12/20
*/
CREATE PROCEDURE [psi].[uspINSERT_BaseWebPageSIG_SIGDefault]
	@SIGNo tinyint 
AS
	

	DECLARE @ReturnValue INT = 0
	-- =======================================			
	INSERT INTO [psi].[BaseWebPageSIG]
		(
		[PageId]
		,[SIGNo]
		,[NodeNo]
		)
	SELECT
		P.[PageId]
		,@SIGNo
		,M.[NodeNo]
	FROM [psi].[BaseWebPageTemplate] AS P
		LEFT JOIN [psi].[Menuitem] AS M
			ON P.MenuitemNodeId = M.NodeId
		LEFT JOIN [psi].[BaseWebPageSIG] AS T
			ON P.[PageId] = T.[PageId] AND T.SIGNo = @SIGNo
	-- 避免INSERT重複資料
	WHERE T.SIGPageNo IS NULL	
	SET @ReturnValue = @@ROWCOUNT

	;WITH CTE AS (
		SELECT [PageId], [SIGPageNo]
		FROM [psi].[BaseWebPageSIG]
		WHERE SIGNo = @SIGNo
	)
	UPDATE [psi].[BaseWebPageSIG]
	SET ParentSIGPageNo = PP.SIGPageNo
	FROM [psi].[BaseWebPageSIG] AS P 
		INNER JOIN [psi].[BaseWebPageTemplate] AS T
			ON P.[PageId] = T.[PageId]
		INNER JOIN CTE AS PP
			ON PP.[PageId] = T.[ParentPageId] 
	WHERE P.SIGNo = @SIGNo 

	
RETURN @ReturnValue
