/*
Created:	2024/12/15
Parameter:	
	@SIGNo = 0	則表示為單一客戶使用
*/
CREATE PROCEDURE [psi].[uspINSERT_SystemIsolationGroup_SIGWithRelateDefault]
	@SIGNo tinyint 
AS
	DECLARE @Id_Everyone CHAR(16) = '_ALL_'
	DECLARE @Name_Everyone NVARCHAR(12) = 'EVERYONE'
	DECLARE @NameAbbr_Everyone NVARCHAR(12) = 'EVERYONE'
	DECLARE @PermissionGroupNo_Everyone SMALLINT
	DECLARE @CreatedPerson SMALLINT = 90
	DECLARE @IsSystemPredefined BIT = 1
	DECLARE @AffectedRows INT = 0
	DECLARE @ReturnValue INT = 0

	



	BEGIN TRANSACTION
		BEGIN TRY
			-- =======================================
			-- [Supplier]相關
			INSERT INTO [psi].[SupplierGroup]
				   ([SupplierGroupNo], [SupplierGroupId], [SIGNo], [SupplierGroupName], [SupplierGroupNameAbbr], [IsSystemPredefined], [CreatedPerson])
			VALUES (@SIGNo, @Id_Everyone, @SIGNo, @Name_Everyone, @NameAbbr_Everyone, @IsSystemPredefined, @CreatedPerson)
			

			-- =======================================
			-- [Product]相關
			-- [ProductCost]相關
			INSERT INTO [psi].[ProductCostDefinition]
					   ([SIGNo]
					   ,[CostNo]
					   ,[CostDefinitionName])
				 VALUES
					   (
					   @SIGNo
					   ,0
					   ,'進貨成本'
					   )
		
				INSERT INTO [psi].[ProductCostDefinition]
					   ([SIGNo]
					   ,[CostNo]
					   ,[CostDefinitionName])
				 VALUES
					   (
					   @SIGNo
					   ,8
					   ,'銷售成本'
					   )

			-- =======================================
			-- [PermissionGroup]相關
			INSERT INTO [psi].[PermissionGroup]
				   ([PermissionGroupNo], [SIGNo], [PermissionGroupId]   ,[PermissionGroupName]	, [IsSystemPredefined]  ,	[CreatedPerson])
			 VALUES
				   (@SIGNo, @SIGNo, [common].[euPermssionGroupId_AllUsers](),   'Everyone', @IsSystemPredefined, @CreatedPerson)		
			SET @AffectedRows = @AffectedRows + @@ROWCOUNT

			SET @PermissionGroupNo_Everyone = @SIGNo
			--SELECT @PermissionGroupNo_Everyone = PermissionGroupNo
			--FROM [psi].[PermissionGroup]
			--WHERE SIGNo = @SIGNo AND PermissionGroupId = [common].[euPermssionGroupId_AllUsers]()
		



			-- [Menuitem]相關
			-- 複製一份SIG的功能表清單
			EXEC @ReturnValue = [psi].[uspINSERT_MenuitemSIG_MenuitemPermissionGroup_SIGDefault]
			SET @AffectedRows = @ReturnValue + @@ROWCOUNT



			EXEC @ReturnValue = [psi].[uspINSERT_BaseWebPageSIG_SIGDefault]
			SET @AffectedRows = @ReturnValue + @@ROWCOUNT


		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION

		-- Get error details
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT 
            @ErrorMessage = ERROR_MESSAGE(),
            @ErrorSeverity = ERROR_SEVERITY(),
            @ErrorState = ERROR_STATE();

        -- Print or log error details
        PRINT 'Error occurred: ' + @ErrorMessage;

        -- Optionally, re-throw the error to be handled by the calling code
        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
	END CATCH;



	
	
RETURN @AffectedRows
