/*
Created:		2025/04/13
*/
CREATE OR ALTER PROCEDURE [psi].[uspINSERT_SaleOrder_ByLogNo]
	@LogNo INT
AS
	

	DECLARE @ReturnValue INT = 0
	DECLARE @CreatedPerson SMALLINT
	DECLARE @StockNo SMALLINT
	DECLARE @OrderDateNo SMALLINT 
	DECLARE @DaySerialNo SMALLINT 
	DECLARE @OrderNo INT
	DECLARE @separator CHAR(1) = SPACE(1);
	-- =======================================			
	SELECT 
		@OrderDateNo = [psi].[udfGetOrderDateNo](OrderDate)
		, @StockNo = StockNo
		, @CreatedPerson = CreatedPerson
	FROM [SBRPDBLOG].[psi].[SaleOrderLog] 
	WHERE  LogNo = @LogNo

	SELECT 
		@DaySerialNo = MAX(DaySerialNo)
	FROM [psi].[SaleOrder] WITH (NOLOCK)
	WHERE OrderDateNo = @OrderDateNo

	SET @DaySerialNo = ISNULL(@DaySerialNo, 0) + 1
	SET @OrderNo = (@OrderDateNo * 65536) + @DaySerialNo;

	-- ------------------------------------------------------------------
	-- Detail Log : Group By Product
	IF OBJECT_ID('tempdb..#DP') IS NOT NULL
		DROP TABLE #DP

	;WITH CTS AS (
		SELECT
			 ProductNo
			, Remark
		FROM [SBRPDBLOG].[psi].[SaleOrderDetailLog]
		WHERE LogNo = @LogNo
	)
	SELECT 
		@LogNo AS LogNo
		, ProductNo
		, MAX(UnitPrice) AS UnitPrice
		,MIN(ItemNo) AS ItemNo
		,SUM(Quantity) AS Quantity
		,SUM(SubAmount) AS SubAmount
		,STUFF((SELECT @separator + Remark 
          FROM CTS AS c
          WHERE D.ProductNo = c.ProductNo 
          FOR XML PATH('')), 1, LEN(@separator), '') AS Remark
	INTO #DP
	FROM [SBRPDBLOG].[psi].[SaleOrderDetailLog] AS D
	WHERE LogNo = @LogNo
	GROUP BY ProductNo


	-- Detail Log : Subtotal Head
	IF OBJECT_ID('tempdb..#DH') IS NOT NULL
		DROP TABLE #DH

	SELECT 
		@LogNo AS LogNo
		, COUNT(*) AS DetailRowCount
		,SUM(Quantity) AS TotalQuantity
		,SUM(SubAmount) AS TotalAmount
	INTO #DH
	FROM [SBRPDBLOG].[psi].[SaleOrderDetailLog]
	WHERE LogNo = @LogNo


	



	BEGIN TRY
		BEGIN TRANSACTION
			-- =======================================					
			INSERT INTO [psi].[SaleOrder]
			   (
			   [OrderDateNo]
			   ,[DaySerialNo]
			   ,[OrderNo]
			   ,[OrderId]
			   ,[SIGNo]
			   ,[MemberNo]
			   ,[StockNo]			  
			   ,[UniqueProductCount]
			   ,[TotalQuantity]			 
			   ,[TotalAmount]
			   ,[Remark]
			   ,[CreatedPerson]
			   ,[LogNo]
			   )
			SELECT 
				 @OrderDateNo
			   ,@DaySerialNo
			   ,@OrderNo
			   ,[OrderId]
			   ,[SIGNo]
			   ,[Member]
			   ,[StockNo]
			   ,DH.[DetailRowCount]
			   ,DH.TotalQuantity
			   ,DH.TotalAmount
			   ,[Remark]
			   ,[CreatedPerson]
			   ,@LogNo
			FROM [SBRPDBLOG].[psi].[SaleOrderLog] AS H
				INNER JOIN #DH AS DH
					ON H.LogNo = DH.LogNo
			WHERE H.LogNo = @LogNo


		
			INSERT INTO [psi].[SaleOrderDetail]
			   (
			   [OrderNo]
			   ,[ItemNo]
			   ,[ProductNo]
			   ,[UnitPrice]
			   ,[DiscountPercentage]
			   ,[ActualSellingPrice]
			   ,[Quantity]
			   ,[Remark]
			   )
			SELECT 
				@OrderNo
			   ,ROW_NUMBER() OVER (ORDER BY ItemNo) 
			   ,[ProductNo]
			    ,[UnitPrice]
			   ,[DiscountPercentage]
			   ,[ActualSellingPrice]
			   ,[Quantity]
			   ,[Remark]
			FROM #DP
			WHERE LogNo = @LogNo


			UPDATE [psi].[ProductStock]
			SET 
				StockQty = PS.StockQty - D.Quantity			
				,UpdatedPerson = @CreatedPerson
				,UpdatedDate = GETDATE()
				,LogNo = @LogNo
			FROM [psi].[ProductStock] AS PS
				INNER JOIN #DP AS D
					ON PS.ProductNo = D.ProductNo 
			WHERE PS.StockNo = @StockNo


			
			INSERT INTO [psi].[ProductStock]
			   ([StockNo]
			   ,[ProductNo]
			   ,[StockQty]
			   ,[CreatedPerson]
			   ,[LogNo]
			   )
			SELECT
				@StockNo
				,D.ProductNo
				,-D.Quantity 
				,@CreatedPerson
				,@LogNo
			FROM #DP AS D
				LEFT JOIN [psi].[ProductStock] AS PS
					ON D.ProductNo = PS.ProductNo
						AND PS.StockNo = @StockNo
			WHERE PS.StockNo IS NULL

			-- =======================================			
		COMMIT TRANSACTION


	END TRY
	BEGIN CATCH
		SELECT ERROR_NUMBER() AS ErrorNumber,
			   ERROR_MESSAGE() AS ErrorMessage,
			   ERROR_LINE() AS ErrorLine,
			   ERROR_PROCEDURE() AS ErrorProcedure,
			   ERROR_SEVERITY() AS ErrorSeverity,
			   ERROR_STATE() AS ErrorState

	--系統拋回訊息用
		DECLARE @ErrorMessage As VARCHAR(1000) = CHAR(10)+'錯誤代碼：' +CAST(ERROR_NUMBER() AS VARCHAR)
												+CHAR(10)+'錯誤訊息：'+	ERROR_MESSAGE()
												+CHAR(10)+'錯誤行號：'+	CAST(ERROR_LINE() AS VARCHAR)
												+CHAR(10)+'錯誤程序名稱：'+	ISNULL(ERROR_PROCEDURE(),'')
		DECLARE @ErrorSeverity As Numeric = ERROR_SEVERITY()
		DECLARE @ErrorState As Numeric = ERROR_STATE()
		RAISERROR( @ErrorMessage, @ErrorSeverity, @ErrorState);--回傳錯誤資訊
		
		WHILE @@TRANCOUNT > 0
		BEGIN
			ROLLBACK TRANSACTION;
		END

		-- Transaction uncommittable
		--IF (XACT_STATE()) = -1	ROLLBACK TRANSACTION

	END CATCH
	




	
RETURN @OrderNo
