@model SupplierViewModel




<div class="flex-box form-function bg-SupplierBriefInfo">
    <div class="items cols-6">
        <div class="form-group">
            <label asp-for="SupplierId"></label>
            <input type="text" asp-for="SupplierId"
                   data-val="false" formnovalidate="formnovalidate"
                   class="form-control-plaintext cancel" />
        </div>
    </div>
    <div class="items cols-5">
        <div class="form-group">
            <label asp-for="SupplierName"></label>
            <input type="text" asp-for="SupplierName"
                   data-val="true" required
                   class="form-control-plaintext cancel" />
        </div>
    </div>
    

</div>