@model IList<MenuitemViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    @*首頁／參數管理／禮券管理*@
    var rootItems = Model
        .Where(p => string.IsNullOrWhiteSpace(p.ParentNodeId))
        .ToList()
        ;
    foreach (var item in rootItems)
    {
        <li>
            @*Root主（類別）項目*@
            <partial name="/Pages/Shared/PartialViews/_MenuitemHeaderPartial.cshtml" model="@item" />

            @{

                if (item.HasChildNode)
                {
                    <ul class="sidebar-submenu">
                        @{
                               


                            var childItems = Model
                                            .Where(p => p.ParentNodeId == item.NodeId)
                                            .OrderBy(o => o.OrderNo);

                            foreach (var child in childItems)
                            {
                                <li>
                                    @{
                                        <partial name="~/Pages/Shared/PartialViews/_MenuitemSubPartial.cshtml" model="child" />
                                        //await Html.RenderPartialAsync("/Pages/Shared/PartialViews/_MenuitemSubPartial.cshtml", child);

                                        if (child.HasChildNode)
                                        {
                                            <ul class="sidebar-sub2menu">
                                                @{
                                                    IOrderedEnumerable<Menuitem> subChildItems = null;
                                                    if (child.NodeNo == 0)
                                                    {

                                                    }
                                                    else
                                                    {
                                                        subChildItems = Model
                                                            .Where(p => p.ParentNodeId == child.NodeId)
                                                            .OrderBy(o => o.OrderNo);
                                                    }

                                                    foreach (var subChild in subChildItems)
                                                    {
                                                        <li>
                                                            <partial name="~/Pages/Shared/PartialViews/_MenuitemSubPartial.cshtml" model="subChild" />
                                                        </li>
                                                    }
                                                }


                                            </ul>
                                        }

                                    }
                                </li>
                            }
                        }
                    </ul>
                }
            }
        </li>
    }
}
