

.dt-search label {
    /*color: darkgrey;*/
    /*display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;*/ /* Optional: Adds space below the search box */
}

.dt-search input {
    /* Text color in the search box */
    /*color: blue;*/
    /* Border color of the search box */
    /*border: 1px solid blue;*/
    /* Light blue background (optional) */
    /*background-color: #f0f8ff;*/
    background-color: snow;
    padding: 5px; /* Adds some padding for better appearance */
    width: 13em !important;
}

.table-editor {

}

.table-datatable {

}

.table-datatable a {
    text-decoration:none;
}
.table-datatable a:hover {
    text-decoration:underline;
}

.ed-table-thead {
    background-color: #95A5A6 !important;
}

.dt-table-thead {
    background-color:darkgrey !important;
}
.dt-table-tfoot {
    background-color: #95A5A6 !important;
}

.dt-head-no {
    text-align: center !important;
}

.dt-head-id {
    text-align: center;
}

.dt-head-date {
    text-align: center;
}

.dt-head-number {
    text-align:right;
}

.dt-head-name {
    text-align: center;
}

.dt-head-edit {
    text-align: center !important;

}

.dt-head-remove {
    text-align: center !important;
}


table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
    content: "\2192"; /* Unicode escape sequence for the right arrow → */
    content: "\25B2";   /*up arrow - ascending */
    content: "\25BC";    /*down arrow - descending*/
    /*position: absolute;
    display: block;
    bottom: 50%;
    content: "â–²";
    content: "â–²"/""*/
}