
.form-group {

}


    .form-group label {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 0.5rem;
    }













/* ==========================================================================
  /*表單排版專用表格樣式  reEdit by Brad
   ========================================================================== */
.table-form, .table-responsive > .table.table-form {
    border-bottom: 0px solid #ddd !important;
}

    .table-form input[type="radio"], .table-form input[type="checkbox"] {
        margin: 2px 2px 0 0 !important;
        margin-top: 1px \9;
        line-height: normal;
        vertical-align: sub;
    }

    .table-form .table > thead > tr > th, .table-form .table > tbody > tr > th, .table-form .table > tfoot > tr > th, .table-form .table > thead > tr > td, .table-form .table > tbody > tr > td, .table-form .table > tfoot > tr > td {
        border-top: 1px solid #ddd !important;
        background: #fff;
    }

    .table-form > tbody > tr > td .table-form > tbody > tr > th, .table-form > tbody > tr > td .table-form > tbody > tr > td {
        border-top: 0px solid #ddd !important;
        background: #fff;
    }

    .table .gridbox, .table-form .hdr, .table-form .obj {
        border: 0px solid #bbc2c4 !important;
    }

        .table-form .hdr > tbody > tr > th, .table-form .hdr > tbody > tr > td, .table-form .obj > tbody > tr > th, .table-form .obj > tbody > tr > td {
            border-right: 1px solid #bbc2c4 !important;
            background: #fff;
            vertical-align: middle;
            padding: 3px 3px;
            font-size: 14px;
        }

        .table-form .obj > tbody > tr > th, .table-form .obj > tbody > tr > td {
            border-bottom: 1px solid #bbc2c4 !important;
            height: inherit !important;
        }

.table .objbox {
    height: inherit !important;
}

.table table td {
    font-size: 14px;
    padding: 5px 5px;
}

.table-form .hdr > tbody > tr > th, .table-form .hdr > tbody > tr > td {
    text-align: center;
    background-color: #d0e1ef !important;
}

.table-form .table-bordered > thead > tr > th, .table-form .table-bordered > tbody > tr > th, .table-form .table-bordered > tfoot > tr > th, .table-form .table-bordered > thead > tr > td, .table-form .table-bordered > tbody > tr > td, .table-form .table-bordered > tfoot > tr > td {
    border: 1px solid #bbc2c4 !important;
    background: #fff;
}

.table-form .table > thead > tr > th, .table-form .table tr > th, .table-form .table-bordered > tbody > tr > th {
    background-color: #d0e1ef;
}



.table-form1, .table-responsive > .table.table-form1 {
    border-bottom: 0px solid #ddd !important;
}

    .table-form1 input[type="radio"], .table-form1 input[type="checkbox"] {
        margin: 2px 2px 0 0 !important;
        margin-top: 1px \9;
        line-height: normal;
        vertical-align: sub;
    }

    .table-form1 .table > thead > tr > th, .table-form1 .table > tbody > tr > th, .table-form1 .table > tfoot > tr > th, .table-form1 .table > thead > tr > td, .table-form1 .table > tbody > tr > td, .table-form1 .table > tfoot > tr > td {
        border-top: 1px solid #ddd !important;
        background: #fff;
    }

    .table-form1 > tbody > tr > td .table-form1 > tbody > tr > th, .table-form1 > tbody > tr > td .table-form1 > tbody > tr > td {
        border-top: 0px solid #ddd !important;
        background: #fff;
    }

    .table .gridbox, .table-form1 .hdr, .table-form1 .obj {
        border: 0px solid #bbc2c4 !important;
    }

        .table-form1 .hdr > tbody > tr > th, .table-form1 .hdr > tbody > tr > td, .table-form1 .obj > tbody > tr > th, .table-form1 .obj > tbody > tr > td {
            border-right: 1px solid #bbc2c4 !important;
            background: #fff;
            vertical-align: middle;
            padding: 3px 3px;
            font-size: 14px;
        }

        .table-form1 .obj > tbody > tr > th, .table-form1 .obj > tbody > tr > td {
            border-bottom: 1px solid #bbc2c4 !important;
            height: inherit !important;
        }

        .table-form1 .hdr > tbody > tr > th, .table-form1 .hdr > tbody > tr > td {
            text-align: center;
            background-color: #d0e1ef !important;
        }

    .table-form1 .table-bordered > thead > tr > th, .table-form1 .table-bordered > tbody > tr > th, .table-form1 .table-bordered > tfoot > tr > th, .table-form1 .table-bordered > thead > tr > td, .table-form1 .table-bordered > tbody > tr > td, .table-form1 .table-bordered > tfoot > tr > td {
        border: 1px solid #bbc2c4 !important;
        background: #fff;
    }

    .table-form1 .table > thead > tr > th, .table-form1 .table tr > th, .table-form1 .table-bordered > tbody > tr > th {
        background-color: #d0e1ef;
    }

    .table-form1 > tbody > tr > th {
        background-color: #d0e1ef;
        width: 100px;
    }

    .table-form1 > tbody > tr > td {
        width: 700px;
    }


.table-form2, .table-responsive > .table.table-form2 {
    border-bottom: 0px solid #ddd !important;
}

    .table-form2 input[type="radio"], .table-form2 input[type="checkbox"] {
        margin: 2px 2px 0 0 !important;
        margin-top: 1px \9;
        line-height: normal;
        vertical-align: sub;
    }

    .table-form2 .table > thead > tr > th, .table-form2 .table > tbody > tr > th, .table-form2 .table > tfoot > tr > th, .table-form2 .table > thead > tr > td, .table-form2 .table > tbody > tr > td, .table-form2 .table > tfoot > tr > td {
        border-top: 1px solid #ddd !important;
        background: #fff;
    }

    .table-form2 > tbody > tr > td .table-form2 > tbody > tr > th, .table-form2 > tbody > tr > td .table-form2 > tbody > tr > td {
        border-top: 0px solid #ddd !important;
        background: #fff;
    }

    .table .gridbox, .table-form2 .hdr, .table-form2 .obj {
        border: 0px solid #bbc2c4 !important;
    }

        .table-form2 .hdr > tbody > tr > th, .table-form2 .hdr > tbody > tr > td, .table-form2 .obj > tbody > tr > th, .table-form2 .obj > tbody > tr > td {
            border-right: 1px solid #bbc2c4 !important;
            background: #fff;
            vertical-align: middle;
            padding: 3px 3px;
            font-size: 14px;
        }

        .table-form2 .obj > tbody > tr > th, .table-form2 .obj > tbody > tr > td {
            border-bottom: 1px solid #bbc2c4 !important;
            height: inherit !important;
        }

        .table-form2 .hdr > tbody > tr > th, .table-form2 .hdr > tbody > tr > td {
            text-align: center;
            background-color: #d0e1ef !important;
        }

    .table-form2 .table-bordered > thead > tr > th, .table-form2 .table-bordered > tbody > tr > th, .table-form2 .table-bordered > tfoot > tr > th, .table-form2 .table-bordered > thead > tr > td, .table-form2 .table-bordered > tbody > tr > td, .table-form2 .table-bordered > tfoot > tr > td {
        border: 1px solid #bbc2c4 !important;
        background: #fff;
    }

    .table-form2 .table > thead > tr > th, .table-form2 .table tr > th, .table-form2 .table-bordered > tbody > tr > th {
        background-color: #d0e1ef;
    }

    .table-form2 > tbody > tr > th {
        background-color: #d0e1ef;
        width: 100px;
    }

    .table-form2 > tbody > tr > td {
        width: 300px;
    }
