@page "{_no?}"
@model SBRPWebPsi.Pages.BasicInfo.Suppliers.EntityProcessModel
@{
}



<div class="container-fluid">
    <partial name="~/Pages/Shared/GeneralPages/_PageHeaderPartial.cshtml" model="Model.PG_PageHeaderInfo" />
</div>


<form id="form1" method="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">


                <div class="card">
                    <div class="card-body">
                        <div class="form-box">

                            <div asp-validation-summary="ModelOnly" class="validation-summary">
                                <span></span>
                            </div>

                            @{
                                if (Model.PG_Info != null)
                                {
                                    <partial name="~/Pages/Shared/common/_CompanyEntityPartial.cshtml" model="Model.PG_Info.Company" />

                                    <partial name="~/Pages/Shared/BasicInfo/_SupplierEntityPartial.cshtml" model="Model.PG_Info" />

                                }
                                else
                                {
                                    <label>Form_MainInfo_Label_NoData</label>
                                }
                            }


                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-function bg-red-lighter">
                            <div class="items">
                                <div class="form-group">
                                    <button type="button" onclick="history.back(-1);" class="btn btn-dark">
                                        <i class="fa fa-arrow-left"></i>
                                        @WebBaseUI.Form_Btn_Back
                                    </button>
                                </div>
                            </div>

                            <div class="items">
                                <div class="from-group">

                                </div>
                            </div>

                            <!-- Start User operation action -->
                            @{
                                if (Model.PG_Info?.FormEditMode == FormEditModeEnum.Read)
                                {
                                    <div class="items">
                                        <div class="form-group">
                                            <a asp-page="List" class="btn btn-dark">
                                                @WebBaseUI.Form_Btn_BackToList
                                                <i class="fa fa-list"></i>
                                            </a>
                                        </div>
                                    </div>


                                }


                                if (Model.PG_Info?.FormEditMode == FormEditModeEnum.Add)
                                {
                                    <div class="items">
                                        <div class="form-group">
                                            <button id="btnAdd" class="btn btn-primary btn-add"
                                                    onclick="fnSwalBtnConfirmInsert_OnClick('btnInsert');" type="button">
                                                @WebBaseUI.Form_Btn_Insert
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button asp-page="EntityProcess" asp-page-handler="Insert"
                                                    disabled id="btnInsert" type="submit" class="d-none">
                                            </button>
                                        </div>
                                    </div>
                                }
                            }
                            <!-- End User operation action -->

                        </div>
                    </div>
                    <!-- End card-footer -->
                </div>
            </div>
        </div>
    </div>



</form>



@section Scripts {
    <partial name="_BasePageUIScriptsPartial" />
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/pages/shared/common/company.entity.js" asp-append-version="true"></script>
    <script src="~/js/pages/basic-info/supplier.process.js" asp-append-version="true"></script>
}